<div id="content">
  <div class="title">
    <h1>Lista de presentes</h1>
    <p>Criamos esse site para que os presentes não sejam repetidos, assim você poderá marcar o que irá presentear</p>
  </div>

  <main class="cards" data-controller="gifts">
    <% @gifts.each do |gift| %>
      <div id="<%= dom_id gift %>" class="card<%= ' gift-selected' if gift.selected %>" data-action="click->gifts#select">
        <h3><%= gift.name %></h3>

        <button class="<%= 'hidden' if gift.selected %>">Selecionar</button>
      </div>
    <% end %>
  </main>

  <div class="title">
    <h2>Se você quiser dar um presente diferente dos acima, escreva uma sugestão aqui em baixo e confirme ela! :)</h2>

    <%= form_with model: Gift.new, url: '/gifts', id: 'suggestion-form' do |form| %>
      <%= form.text_field :name, placeholder: 'Escreva o presente aqui!' %>
      <%= form.submit 'Enviar sugestão' %>
    <% end %>
  </div>
</div>
